@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #252525;
  /* border: none; */
}
html {
  font-size: 3.125vw;
  scroll-behavior: smooth;
}
body {
  font-family: Roboto, Helvetica, sans-serif;
}
header {
  width: 100%;
}
a {
  text-decoration: none;
  cursor: pointer;
}
h2 {
  font-size: 2.4rem;
}
h3{
  font-size: 1.6rem;
}
/*menu movil visible*/
.menu {
  width: 100%;
  height: 4.8rem;
  background-color: rgba(0, 0, 0, 0.32);
  padding: 0 5.47vw;
  position: fixed;
  z-index: 3;
  display: grid;
  grid-template-columns: 1fr repeat(3, auto) 1fr;
  grid-column-gap: 5px;
  justify-items: center;
  align-items: center;
}
.menu nav{
  display: none;
}
.menu__button {
  background: none;
  border-style: none;
  margin-right: auto;
}
.material-icons{
  font-size: 36px;
  color: rgba(255, 255, 255, 1);
}
.closeIcon {
  display: none;
}
.menu__logo {
  width: 15.7rem;
  height: 2.34rem;
  margin-left: auto;
}
.menu__logo img {
  width: 100%;
}
/*fin menu movil visible*/
/*links resposive*/
.menu-links {
  background-color: rgba(0, 0, 0, 0.95);
  position: fixed;
  transform: translateX(-100%);
  top: 0;
  z-index: 2;
  bottom: 0;
  right: 0;
  width: 100vw;
  transition: 0.3s;
  font-size: 1.8rem;
}
.showMenu{
  transform: translateY(0);
}
.menu-links ul hr {
  width: 82vw;
  margin: 0 auto;
}
.menu-links ul {
  margin-top: 17.6rem;
  text-align: center;
}
.menu-links ul li {
  margin: 1.4rem 0;
}
.menu-links ul li a {
  color: white;
  font-weight: 300;
  font-size: 2rem;
}
/*fondo banner*/
.banner {
  width: 100%;
  height: auto;
}
.banner__img {
  width: 100%;
  min-height: 646px;
  object-fit: cover;
}
/*fin fondo banner*/
/*presentacion - headers bienvenida*/
.presentation {
  position: absolute;
  top: 8rem;
  margin: 0 1.6rem;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.presentation__logo {
  width: 75vw;
  height: 11.23vw;
  min-width: 262px;
}
.presentation__logo img {
  width: 100%;
}
.presentation h1 {
  margin: 0.8rem 0;
  font-size: 2.4rem;
  color: #f3f3f3;
}
.presentation hr {
  height: 0.2rem;
  width: 5.4rem;
  background-color: #707070;
  margin-bottom: 0.8rem;
  border: none;
}
.presentation p {
  font-size: 1.4rem;
  color: #f3f3f3;
  font-weight: 300;
}
.presentation a {
  align-self: center;
  margin-top: 1.65rem;
  height: 2.05rem;
}
.presentation a img {
  height: 100%;
  width: 7.245rem;
}
/* formulario contacto */
.form-contact {
  display: flex;
  flex-direction: column;
  background-color: rgba(26, 26, 26, 0.75);
  width: 28.8rem;
  height: 37.8rem;
  margin-top: 1.6rem;
  padding: 1.6rem 2rem 1.6rem 2rem;
  border-radius: .2rem;
}
.form-contact h2 {
  margin: 0 auto;
  color: #f3f3f3;
}
.label-contact {
  display: flex;
  flex-direction: column;
  margin-top: .8rem;
}
.form-contact span {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: .4rem;
  color: #f3f3f3;
}
.form-contact input {
  height: 2.8rem;
  border: none;
}
.form-contact-name-lastname{
  display: flex;
  justify-content: space-between;
}
.label-contact--nombre,
.label-contact--apellido {
  width: 11.6rem;
}
.label-contact--phone{
  width: 15rem;
}
.label-contact--selector select{
  height: 2.8rem;
  color: #515151;
  padding: 0 .4rem;
  border: none;
  font-size: 1.2rem;
}
.form-contact button{
  margin: 1.6rem auto;
  border: none;
  border-radius: 2px;
  width: 9.2rem;
  padding: .4rem 0;
  color: #f3f3f3;
  font-weight: bold;
  font-size: 1.9rem;
  background-color: #D10012;
  font-family: "Roboto";
}
/* fin formulario contacto */
/* inicio sobre nosotros */
.about-us{
  margin: 0 2.8rem;
}
.about-us h2{
  margin: 1.6rem auto;
  text-align: center;
  color: #252525;
}
.about-us figure{
  position: absolute;
  z-index: 0;
  margin-top: 1.6rem;
  left: 0;
  width: 100%;
}
.about-us figure img{
  width: 100%;
  object-fit: cover;
}
.about-us article{
  position: relative;
  z-index: 1;
  margin-bottom: 2.4rem;
}
.about-us article h3{
  margin-top: 1.6rem;
  margin-bottom: .8rem;
}
.about-us article p{
  font-size: 1.4rem;
  font-weight: 300;
}

.background-img-about-us{
  height: 17.8rem;
}
.img-about-us{
  width: 23.6rem;
  position: absolute;
  z-index: 2;
  left: 1.4rem;
  top: 1.35rem;
  box-shadow: 0rem 3px 6px rgba(0, 0, 0, 0.16);
}
/* fin sobre nosotros */
/* servicios */
.services{
  margin: 0 1.6rem;
}
.services article{
  margin-bottom: 2.4rem;
}
.services h2{
  text-align: center;
  margin-bottom: 1.6rem;
}
.services h3{
  margin: .8rem 0 1.6rem 0;
  font-size: 1.8rem;
}
.services ul{
  font-size: 1.4rem;
  margin-left: 2.4rem;

}
.img-servicios{
  width: 28.6rem;
  box-shadow: 0rem 2px 4px rgba(0, 0, 0, 0.16);
}
/* fin servicios */
/* footer */
.footer-arriba{
  background-color: #252525;
  padding: 0 2.8rem 1.6rem 2.8rem;
}
footer h3, 
footer span, 
footer p{
  color: #e9e9e9;
  font-size: 1.6rem;
}
footer span,
footer p{
  font-weight: 300;
}
.footer-arriba h3{
  margin-bottom: .8rem;
}
.footer-arriba a img{
  width: 2.4rem;
  margin-top: .4rem;
}
.footer-arriba figure{
  margin-top: 1.6rem;
  width: 19.5rem;
}
.footer-arriba figure img{
  width: 100%;
  height: 100%;
  margin-top: 1.6rem;
}
.footer-arriba article:first-of-type {
  margin-top: 2.4rem;
}
.footer-arriba article{
  margin-bottom: 1.6rem;
}
.footer-arriba article span{
  display: block;
  margin-bottom: .4rem;
}
.footer-arriba article span:last-of-type{
  margin-bottom: 0;
}
.footer-arriba article:last-of-type {
  margin-bottom: 0;
}
.footer-abajo{
  background-color: #111111;
  padding: .8rem 0;
}
.footer-abajo span{
  display: block;
  text-align: center;
  font-weight: 300;
}